@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
}

.cabecalho {
     display: flex;
     justify-content: space-between;
     padding: 45px 44px;
}

.cabecalho a {
    display: flex;
    align-items: center;
}

.cabecalho a img {
    width: 45px;
    height: 42px;
}

.cabecalho a h1 {
    font-size: 20px;
    line-height: 23.2px;
    font-weight: 800;
    margin-left: 11px;
}

.menu {
    font-size: 15px;
    display: flex;
    align-items: center;
}

.menu li a {
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
    margin-left: 15px;
}

.menu li a:hover{
    color: #fff;
    background-color: #5BC241;
    cursor: pointer;
}

.menu li a.btn {
    padding: 10px 20px;
    color: #fff;
    background-color: #5BC241;
    border-radius: 10px;
    font-weight: 300;
    margin-left: 20px;
}
